<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="twitter-bootstrap/css/bootstrap.css"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
