@model IEnumerable<Person>


<table class="table-striped table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Cloth</td>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.Name</td>
            <td>
                @foreach (var cloth in person.Clothes)
                {
                    <p>clothId: @cloth.Id</p>
                    <p>Name:@cloth.Name</p>
                    <p>PersonId: @cloth.PersonId</p>
                }
                
            </td>
        </tr>
    }
</table>

<a asp-action="Create" class="btn-danger">Create</a>
<a asp-action="Update" class="btn-danger">Update</a>
<a asp-action="Delete" class="btn-danger">Delete</a>